<% if author.errors.any? %>
  <div class="alert alert-danger">
    The form contains <%= pluralize(author.errors.count, "error") %>.
  </div>
  <ul>
    <% author.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
