<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Authors</h1>
    <%= link_to "Add new author", new_author_path, class: "btn btn-primary" %>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <% @authors.each do |author| %>
            <tr>
              <th scope="row"><%= author.id %></th>
              <td><%= link_to author.name, author %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
