<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Books</h1>
    <%= link_to "Add new book", new_book_path, class: "btn btn-primary" %>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <th scope="row"><%= book.id %></th>
              <td><%= link_to book.title, book %></td>
              <td><%= link_to book.author.name, book.author %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
